<launch>
    <arg name="node_name" default="plot_test_node" />

    <node pkg="plot_test"
          type="plot_test_node"
          name="$(arg node_name)"
          output="screen">

        <rosparam command="load"
                  file="$(find plot_test)/config/config.yml" />

    </node>
</launch>
