<launch>
    <arg name="node_name" default="DMP_Kuka_test_node" />

    <node pkg="dmp_kuka_test"
          type="DMP_Kuka_test"
          name="$(arg node_name)"
          output="screen">

        <rosparam command="load"
                  file="$(find dmp_kuka_test)/config/config.yml" />

    </node>
</launch>
