<launch>
    <arg name="node_name" default="DMP_orient_test_node" />

    <node pkg="dmp_test"
          type="DMP_orient_test"
          name="$(arg node_name)"
          output="screen">

        <rosparam command="load"
                  file="$(find dmp_test)/config/config.yml" />

    </node>
</launch>
